.DS_Store
.thumb
*.log
wp-config-sample.php
wp-config.php


public/.htaccess
public/wp-content
public/wp-admin
public/wp-includes
public/wp-login.php
public/wp-settings.php
public/index.php

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
